.footer {
  padding-top: 28px;
  margin-bottom: 28px;
  color: #303030;
  font-size: 14px;
  text-align: center;
  position: relative;

  .banner__social a {
    color: #191919;
    border: 1px solid #191919;
    border-radius: 99px;
    font-size: 25px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    &:hover {
      transform: scale(1.1) translateY(-20px);
    }
  }
}
